body {
    background-color: #1a1818 !important;
    color: white;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, .navbar-brand {
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
